graft src
include versioneer.py
global-exclude *.py[cod]

# Include package-level files and directories here; e.g.:
#
# include *.png *.jpeg
# exclude *.webp
# graft spice-kernels
# prune my_pds_module/obsolete-dir
# global-exclude *.log
